<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDM6_dxnhKOLh9MWJy7NlWTY9J6iG9-ivU</string>
	<key>GCM_SENDER_ID</key>
	<string>10162701933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sttlogistics.group</string>
	<key>PROJECT_ID</key>
	<string>sst-logistics-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sst-logistics-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10162701933:ios:7ab2925fc567dbb218a164</string>
</dict>
</plist>